div {
   font-weight: bold;
}

div, form, ul {
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 1rem;
}

form {
   gap: 1rem;
}

form label {
   font-size: 1.5rem;
   color: #0000ee;
}

form input {
   padding: 0.5rem;
   border-radius: 10px;
   outline: none;
   border: 1px solid #b2b2b2;
}

form button {
   cursor: pointer;
   padding: 0.5rem;
   background-color: #0000ee;
   border: 1px solid #77ccee;
   border-radius: 5px;
   color: white;
}

div ul {
   list-style: circle;
}